name: Deploy

on:
  push:
    branches:
      - main

jobs:
  call-testing:
    uses: ./.github/workflows/test.yaml

  deploy:
    name: Deploy to Vultr
    runs-on: ubuntu-latest
    needs: call-testing
    if: ${{ needs.call-testing.result == 'success' }}

    steps:
      - name: Checkout code (not used but required)
        uses: actions/checkout@v4

      - name: SSH and run deploy.sh
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: "" # 因為已設定 authorized_keys 的 command 限制，這邊不需指定 script

  notify:
    runs-on: ubuntu-latest
    needs: [deploy]
    if: always()
    steps:
      - name: Notify Slack with Test Results
        run: |
          DEPLOY_STATUS="${{ needs.deploy.result }}"

          if [ "$DEPLOY_STATUS" = "success" ]; then
            DEPLOY_ICON="✅"
            DEPLOY_TEXT="部署完成"
          else
            DEPLOY_ICON="❌"
            DEPLOY_TEXT="部署失敗"
          fi

          MESSAGE="$DEPLOY_ICON 部署: $DEPLOY_TEXT\nRepository: ${{ github.repository }}\nBranch: ${{ github.ref_name }}\nCommit: ${{ github.sha }}\nWorkflow: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"

          curl -X POST -H 'Content-type: application/json' \
            --data "{\"text\":\"$MESSAGE\"}" \
            ${{ secrets.SLACK_WEBHOOK }}
